.card-user {
    background-color: var(--dark-blue);
    width: 87.5vw;
    margin: 2em auto;
    border-radius: 10px;
    padding-bottom: 1.25em;
}

.user--info {
    background-color: var(--blue);
    border-radius: 10px;
    padding: 1.5em;
    display: flex;
    align-items: center;
}

.user--info h2 {
    font-size: .75em;
    color: var(--pale-blue);
    margin-bottom: .25em;
}

.user--info h1 {
    font-size: 1.15em;
    color: var(--white);
    font-weight: 300;
}

img {
    width: 50px;
    border: 2px solid var(--white);
    border-radius: 50px;
    margin-right: 1em;
}

.period {
    color: var(--desaturated-blue);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1em;
}

/* input {
    display: none;
} */